<header>
	<nav class="d-flex justify-content-start align-items-center">
		<a href="/"><i class="fal fa-2x fa-arrow-alt-left"></i></a>
		<h1 class="ml-2">Kundenliste</h1>
	</nav>
</header>

<div class="modal">
	<div class="modal-content">
		<span class="modal-closer">&times;</span>

		<h2>Kunde hinzufügen</h2>
		<form id="create-customer-form">
			<label for="customer-name-input">Kundenname</label>
			<input
				type="text"
				id="customer-name-input"
				name="customer-name"
				placeholder="netivity GmbH"
				class="input"
				required
			/>
			<div class="d-flex justify-content-end mt-1">
				<button type="submit" class="button">Speichern</button>
			</div>
		</form>
	</div>
</div>

<main>
	<div class="mt-5 mb-1 table-actions d-flex justify-content-end">
		<button class="button modal-opener">Kunde hinzufügen</button>
	</div>

	<div id="customer-table"></div>
</main>

<!--had to insert script with complete url because of handlebars bug
ATTENTION this prevents running the site on a different device other than localhost.
Replace localhost with hostname and you are fine.
-->
<script
	src="http://localhost:3000/assets/js/customers/main.js"
	type="module"
></script>

<script src="http://localhost:3000/assets/js/Modal.js"></script>
