<h1>Kundenliste</h1>
<div class="modal">
	<div class="modal-content">
		<span class="modal-closer">&times;</span>

		<h2>Kunde hinzufügen</h2>
		<form id="create-customer-form">
			<label for="customer-name-input">Kundenname</label>
			<input
				type="text"
				id="customer-name-input"
				name="customer-name"
				placeholder="netivity GmbH"
				class="input"
			/>
			<div class="d-flex justify-content-end mt-1">
				<button type="submit" class="button">Speichern</button>
			</div>
		</form>
	</div>
</div>

<main>
	<div class="mt-5 mb-1 table-actions d-flex justify-content-end">
		<button class="button modal-opener">Kunde hinzufügen</button>
	</div>

	<div id="customer-table"></div>
</main>

<script src="./assets/js/customers/main.js" type="module"></script>
<script src="./assets/js/Modal.js"></script>
