<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--FontAwesome Icons-->
		<script
			src="https://kit.fontawesome.com/7460c9bf35.js"
			crossorigin="anonymous"
		></script>

		<!--had to insert script with complete url because of handlebars bug
		ATTENTION this prevents running the site on a different device other than localhost.
		Replace localhost with hostname and you are fine.
		-->
		<link rel="stylesheet" href="http://localhost:3000/assets/css/styles.css" />
		<title>Dokumentation</title>
	</head>
	<body>
		<div class="container">{{{body}}}</div>
	</body>
</html>
