<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/styles.css" />
		<title>Title</title>
	</head>
	<body>
		{{{body}}}

		<footer>
			<div><a class="link" href="about.html">Über Uns</a></div>
			<div><a class="link" href="/contact.html">Kontakt</a></div>
			<div><a class="link" href="/impressum.html">Impressum</a></div>
		</footer>
	</body>
</html>
