<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/styles.css" />
		<title>Title</title>
	</head>
	<body>
		{{{body}}}

		<footer>
			<nav class="d-flex justify-content-space-between align-items-center">
				<ul class="d-flex align-items-center">
					<li class="mr-2"><a href="contact.html" class="link">Kontakt</a></li>
					<li class="mr-2"><a href="/about.html" class="link">Über Uns</a></li>
				</ul>

				<a href="/impressum.html" class="link mr-2">Impressum</a>
			</nav>
		</footer>
	</body>
</html>
