@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@import 'modal.css';

@import 'login.css';
@import 'customers.css';
@import 'computers.css';
@import 'contact.css';

body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin-left: 3rem;
	margin-right: 3rem;
}

.d-flex {
	display: flex;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-end {
	justify-content: flex-end;
}
.align-items-center {
	align-items: center;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}

.h-100 {
	min-height: 100vh;
}

.ml-4 {
	margin-left: 4rem;
}

.mr-4 {
	margin-right: 4rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-5 {
	margin-top: 5rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.pa-1 {
	padding: 1rem;
}
.pa-2 {
	padding: 2rem;
}

.input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.button {
	background-color: #fa233b; /* Green */
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
}

i {
	color: #fa233b;
}

.link {
	text-decoration: none;
	font-weight: 700;
	color: #fa233b;
}
